@import '../../style/variables.scss';

.Button {
	display: inline-block;
	background: $color-primary;
	border: none;
	color: #fff;
	padding: rem(10);
	border-radius: 4px;
	cursor: pointer;
	&___close {
		background: $color-danger;
	}
}
