@import '../../style/functions';
@import '../../style/mixins';
@import '../../style/variables';

.Grid {
	$spacing: 20px;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	column-gap: $spacing;
	row-gap: $spacing;
	@include atSmall {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@include atMedium {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	&_item {
		$item: &;
		display: flex;
		flex-direction: column;
		background-color: $color-secondary;
		position: relative;
		box-shadow: -1px 1px 2px $color-secondary-dark;
		transform: scale(1);
		transition: transform $transition-speed-fast,
			box-shadow $transition-speed-fast;
		will-change: transform box-shadow;
		cursor: pointer;
		&:hover {
			box-shadow: -1px 1px 4px $color-secondary-dark;
			transform: scale(1.01);
			z-index: 10;
		}
		&_image {
			display: block;
			max-width: 100%;
			max-height: 240px;
			margin: 0 auto;
			padding: rem(10) 0;
		}
		&_content {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			flex-grow: 1;
			color: $color-secondary;
			padding: rem(10);
			background-color: #fff;
			transition: top $transition-speed-fast;
		}
		&_head {
			width: 100%;
			font-weight: 500;
		}
		&_tag {
			justify-self: end;
			font-size: rem(14);
			font-style: italic;
		}
	}
}
