@import './functions.scss';

$breakpoint-sm: rem(481);
$breakpoint-md: rem(768);
$breakpoint-lg: rem(1024);

$color-primary: #5233ff;
$color-primary-dark: #260bc0;
$color-secondary: #ffcf33;
$color-secondary-dark: #af8808;
$color-danger: #ff5233;
$color-danger-dark: #a3240e;

$bg-color-primary: #c4c7ff;
$bg-color-secondary: #f4f4ff;

$box-shadow-position: -1px 1px 0 3px;

$transition-speed-fast: 200ms;
$transition-speed-mid: 500ms;
