@import './functions.scss';

$breakpoint-sm: rem(481);
$breakpoint-md: rem(768);
$breakpoint-lg: rem(1024);

$color-primary: #5233ff;
$color-danger: #ff5233;

$bg-color-primary: #c4c7ff;
$bg-color-secondary: #f4f4ff;
