@import '../../style/functions.scss';
@import '../../style/variables.scss';

.Filters {
	margin: rem(20) 0;
	display: flex;
	align-content: space-between;
	&_input {
		$border: 2px solid $color-primary;
		padding: rem(4);
		margin-right: rem(10);
		background: none;
		border: none;
		border-bottom: $border;
		&[type='number'] {
			width: rem(80);
		}
		&:focus {
			background-color: $bg-color-secondary;
			border-left: $border;
			outline: $border;
		}
	}
}
