@import '../../style/mixins.scss';
@import '../../style/functions.scss';

.Layout {
	padding: 0 rem(10) rem(20);
	margin-left: auto;
	margin-right: auto;
	@include atMedium {
		max-width: rem(620);
	}
}
