@import '../../style/functions.scss';
@import '../../style/variables.scss';

.Accordion {
	$spacing: rem(10);
	&_item {
		$item: &;
		overflow: hidden;
		&_head {
			align-content: space-between;
			padding: $spacing;
			font-weight: 500;
			cursor: pointer;
			&::after {
				content: '';
				position: relative;
				top: $spacing;
				left: -$spacing;
				display: block;
				width: calc(100% + $spacing);
				height: 2px;
				background-color: $color-primary;
				transition: width $transition-speed-mid;
			}
			&:hover {
				&::after {
					width: 80%;
				}
			}
			&_inner {
				display: flex;
				justify-content: space-between;
			}
		}
		&_content {
			max-height: 0;
			border-left: 4px solid $color-primary;
			transition: max-height $transition-speed-mid;
			will-change: max-height;
			overflow-y: auto;
			&_inner {
				padding: $spacing;
			}
			&_tag {
				font-style: italic;
				margin-bottom: $spacing;
			}
		}
		&___open {
			#{$item}_content {
				max-height: rem(200);
			}
			#{$item}_head {
				&::after {
					width: 10%;
				}
			}
		}
	}
	&_close {
		margin-top: rem(10);
	}
}
