@import '../../style/functions.scss';

.Accordion {
	$spacing: rem(10);
	$tspeed: 500ms;
	display: block;
	max-width: rem(400);
	&_item {
		$item: &;
		overflow: hidden;
		&_head {
			padding: $spacing;
			font-weight: 500;
			cursor: pointer;
			&::after {
				content: '';
				position: relative;
				top: $spacing;
				left: -$spacing;
				display: block;
				width: 100%;
				height: 1px;
				background-color: grey;
				transition: width $tspeed;
			}
			&:hover {
				&::after {
					width: 80%;
				}
			}
		}
		&_content {
			max-height: 0;
			border-left: 1px solid grey;
			transition: max-height $tspeed;
			will-change: max-height;
			overflow-y: auto;
			&_inner {
				padding: $spacing;
			}
			&_tag {
				font-style: italic;
				margin-bottom: $spacing;
			}
		}
		&___open {
			#{$item}_content {
				max-height: rem(200);
			}
			#{$item}_head {
				&::after {
					width: 10%;
				}
			}
		}
	}
	button {
		margin-top: rem(10);
	}
}
